* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(223, 223, 47);
}

header {
    display: flex;
    height: 80px;
    margin-top: 3%;
}

header div{
    margin-left: 12%;
    display: flex;
}

header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
header div p{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
color: #000000;
margin-top: 6px;
}


header input{
    width: 250px;
    height: 40px;
    margin-left: 12%;
    border: 1px solid #E8E8E8;
border-radius: 5px;
}

header input::placeholder{
   padding-left: 20px;
}

header button{
    width: 150px;
    height: 40px;
    margin-left: 30%;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #007163;
border: none;
border: 1px solid #007163;
border-radius: 5px;
}

header input:hover {
    background:blue;
    color: aqua;
}


.div_image_bottom {
    width: 250px;
    height: 30px;
    background: rgba(0, 113, 99, 0.1);
    border-radius: 5px;
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
}

.div_image_bottom_mini {
    width: 25px;
    height: 25px;
    background: #007163;
    border: 1px solid #007163;
    border-radius: 50%;
}

.box_div_first_child {
    margin-top: 60px;
    margin-left: 12%;
}

.div_myorders_bottom {
    display: flex;
    width: 760px;
    height: 40px;
    border: 1px solid #D6D0C1;
    justify-content: space-evenly;
    margin-top: 30px;
}

.div_myorders_bottom div {
    width: 30px;
    height: 30px;
    background: #00716333;
    border-radius: 50%;
    margin-left: -60px;
    margin-top: 5px;
}

.div_myorders_bottom_two div {
    width: 30px;
    height: 30px;
    background: #00716333;
    border-radius: 50%;
    margin-left: -60px;
    margin-top: 5px;
}

.div_myorders_bottom_two {
    display: flex;
    width: 760px;
    height: 40px;
    border: 1px solid #D6D0C1;
    justify-content: space-evenly;
}

.div_myorders_bottom_two div p {
    margin: 6px 10px;
}

.div_myorders_bottom div p {
    margin: 6px 10px;
}

.div_myorders_p {
    margin-top: 8px;
    margin-left: -50px;
}

.div_myorders_p_two {
    margin-top: 8px;
}

.div_myservices_bottom {
    display: flex;
    width: 760px;
    height: 40px;
    border: 1px solid #D6D0C1;
    margin-top: 30px;
}

.div_myservices_bottom div {
    width: 30px;
    height: 30px;
    background: #00716333;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 20px;
}

.div_myservices_bottom_two {
    display: flex;
    width: 760px;
    height: 40px;
    border: 1px solid #D6D0C1;
}

.div_myservices_bottom_two div {
    width: 30px;
    height: 30px;
    background: #00716333;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 20px;
}

.guitar_p {
    margin-left: 30px;
    margin-top: 8px;
}

.guitar_p_two {
    margin-left: 70px;
    margin-top: 8px;
}

.guitar_p_three {
    margin-left: 50%;
    margin-top: 8px;
}

.Purchased_h {
    margin-top: 30px;
}

.div_myservices_bottom div p {
    margin: 6px 10px;
}

.div_myservices_bottom_two div p {
    margin: 6px 10px;
}

.div_footer {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 100px;
}

.div_footer ul {
    display: flex;
}

.div_footer li {
    list-style: none;
    margin: 0 10px;
}

.div_footer div {
    display: flex;
    margin-top: -30px;
}

.div_footer h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-top: 10px;
}

.div_footer img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.link_div {
    height: 40px;
    display: flex;
    margin-top: 30px;
}

.link_div div:first-child {
    border: 1px solid #007163;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.link_div div:nth-child(2) {
    border: 1px solid #007163;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.link_div div:nth-child(3) {
    border: 1px solid #007163;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.link_div div:last-child {
    border: 1px solid #007163;
    background: #007163;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

a {
    text-decoration: none;
}

.bbox {
    display: flex;
}

.card_div {
    margin-left: 150px;
    margin-top: 50px;
}

.card_div img {
    width: 250px;
    height: 230px;
}

.div_image_bottom_mini p {
    margin: 1px 6px;
}

.box_mini {
    margin-left: 60px;
}

.my_orders_h {
    margin-top: 48px;
}

.my_services_h {
    margin-top: 30px;
}
.footer-box{
    display: flex;
    margin-top: 25px;
    margin-left: -300px;
    justify-content: space-between;
}
.footer-box h2{
    width: 140px;
}
